@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;600;700&display=swap');

:root {
    --junglegreen-background: #38AF90;
    --white-text: #fff;
    --gray-background: ##E5E5E5;
    --gray-text: #797979;
    --news-background: #F0F0F0;
    --red-color: #DD7E92;
    --footer-backgroud: #383838;

}

html {
    background-color: var(--gray-background);
    font-family: 'poppins', sans-serif;

}

h1,
h2,
h3,
p {
    color: var(--gray-text);

}

A {
    text-decoration: none;
    color: unset;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none
}


footer {
    background-color: var(--footer-backgroud);
    width: 100%;
    height: 302px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;

}

.nav-container {
    background-color: var(--junglegreen-background);
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(1px 4px 4px gray);
    padding-left: 20px;
    padding-right: 20px;
}

.nav-list {

    color: var(--white-text);


}

#menu-option {

    display: none;
}

.profile-avatar {
    width: 62px;
    height: 62px;
    margin-right: 10px;


}


.nav-container h1 {
    color: var(--white-text);
    font-size: 18px;
    text-transform: uppercase;
}

.news-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 24px;
}

.notice-title {
    color: var(--junglegreen-background);
    font-size: 1rem;
}

.notice-sub-title {
    font-size: 12px;
    font-weight: 700;

}

.title-form {
    font-size: 24px;
    margin: 40px 0 68px 0;
    text-align: center;
}


.news-container {
    border-radius: 8px;
    background-color: var(--news-background);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 3px;
    box-shadow: 1px 4px 4px gray;
    margin: 0 10px 28px 10px;


}

.notice-text {
    font-size: 10px;
}

.news-container time {

    color: var(--junglegreen-background);
}




.read-more {
    color: var(--red-color);
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;


}

.button-read-more {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    color: var(--white-text);
    background-color: var(--red-color);
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;

}


.games-container {
    font-size: 24px;
    color: var(--junglegreen-background);
    font-weight: 700;
    text-align: center;
    margin-bottom: 28px;
    padding-top: 40px;
}

.assessment-game {
    width: calc(100% - 20px);
    background-color: var(--white-text);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 27px;
    text-align: center;
    max-width: 300px;
}

.game-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 20px);
    background-color: var(--white-text);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: auto;
    margin-bottom: 27px;
    max-width: 300px;
}

.assessment-game h3 {
    font-weight: 700;
    font-size: 14px;
}

.game-card img {
    border-radius: 8px;
    width: calc(100%);
    max-width: 300px;
}

.span-txt {
    color: var(--junglegreen-background);

}

.game-note {
    font-size: 36px;
    color: var(--junglegreen-background);
    font-weight: 700;
}



.assessment-game h2 {
    font-weight: 700;
    font-size: 18px;


}


.form-container {
    justify-content: center;
    margin: 20px;
    color: var(--gray-text);
    box-shadow: 1px 4px 4px gray;
    border-radius: 8px;
    padding: 52px 12px 33px;
}




.inscription input {
    width: calc(100% - 40px);
    height: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
    background: var(--white-text);
    border: 1px solid #797979;
    border-radius: 4px;

}

.form-console {
    margin-left: 12px;

}



.button-sent {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    font-size: 18px;
    color: var(--white-text);
    background-color: var(--red-color);
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 47px;

}

.button-clean {
    display: flex;
    width: 244px;
    height: 67px;
    border-radius: 8px;
    font-size: 18px;
    color: var(--red-color);
    background-color: var(--white-text);
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
    border: 2px solid var(--red-color);
}

.footer-content {
    margin: 28px;

}

.footer-content p {
    color: var(--white-text);


}



@media(min-width: 576px) {

    *h1 {
        font-size: 36px;

    }

    .news-title {
        font-size: 36px;
    }


    .nav-list {
        display: flex;
        color: var(--white-text);
        margin: 20px;
        font-size: 14px;
        align-items: center;

    }


    #menu-option {
        margin: 0 14.5px;
        display: flex;
    }

    .button-read-more {
        margin-bottom: 92px;
    }

    .games-container h1 {
        font-size: 36px;
        margin-bottom: 73px;
    }



    .assessment-game {
        width: calc(100% - 20px);
        background-color: var(--white-text);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        margin-bottom: 27px;
        text-align: center;

    }

    .game-card {
        display: inline-flex;
        margin: 13px;
        margin-bottom: 109px;

    }

    .game-card img {
        width: 300px;
    }

    .assessment-game h3 {
        font-weight: 700;
        font-size: 14px;
    }


    .form-container {
        max-width: 790px;
        margin: auto;
        margin-bottom: 61px;

    }

    .button-clean,
    .button-sent {
        margin: 0 auto;
        margin-bottom: 113px;
    }

    #novidades {
        margin-bottom: 38px;
    }
    .buttons-submit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    
    }
}